<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Contacts:</h1>
  <ul>
    <% if(contacts.length) { %>
      <% contacts.forEach(({ name, phone }) => { %>
        <li>
          <%= name %>: <%= phone %>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>
